<!-- include header template -->
<%- include ('partials/header') %> 

<link rel="stylesheet" href="app.css" />
<h1>This is the home page</h1>
<img
src="https://pawster.com/wp-content/uploads/2017/10/Fotolia_164210888_S-768x432.jpg"
/>
<!-- include footer template -->
<%- include ('partials/footer') %> 
