<h1>Friends List Goes Here!</h1>
<ul>
  <% friends.forEach(friend => { %>
  <li><%= friend %></li>
  <% }) %>
</ul>
<form action="/addfriend" method="POST">
  <!-- the name that we give the input will be 
    the key that we will look it up by inside of the route-->
  <input type="text" name="newFriend" id="" placeholder="name" />
  <button>I made a new friend!</button>
</form>
